
@*@model DemoSignalR.Models.OpenTDB.Pregunta*@
@{
    Layout = null;
    ViewData["Title"] = "Demo2";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>@ViewData["Title"]</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">@ViewData["Title"]</a>
    </nav>

    <div class="container">

        @*<button type="submit" class="btn btn-primary mb-2" id="btnSiguientePregunta">Siguiente Pregunta</button>*@
        @*<p>@Model.DecodeQuestion()</p>*@

        <div class="card" id="panelPregunta" style="display:none">
            <div class="card-header"></div>
            <ul class="list-group list-group-flush"></ul>
        </div>

    </div>

    <!-- Modal Nombre de usuario -->
    <div class="modal fade" id="modalNombreUsuario" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalNombreUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNombreUsuarioLabel">@ViewData["Title"]</h5>
                </div>
                <div class="modal-body">

                    <form class="form-inline">
                        <input type="text" class="form-control mb-2 mr-sm-2" id="txtNombreUsuario" placeholder="Nombre de usuario">
                        <button type="button" class="btn btn-primary mb-2" id="btnJugar">¡Jugar!</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/signalr.js"></script>

    <script type="text/javascript">

        $(function () {

            var nombreUsuario;

            $('#modalNombreUsuario').modal('show');

            $("#btnJugar").on("click", function () {
                if ($("#txtNombreUsuario").val().length > 2) {
                    nombreUsuario = $("#txtNombreUsuario").val();
                    $('#modalNombreUsuario').modal('hide');

                    conectarHub();
                    $('#panelPregunta').show();
                }
            });

            $('#modalNombreUsuario').on('hidden.bs.modal', function () {
                $('#modalNombreUsuario').modal('dispose');
            })



            //conectarHub();

            function conectarHub() {
                var connection = new signalR.HubConnectionBuilder()
                    .withUrl('/hubs/PreguntasHub')
                    .build();

                connection.start()
                    .then(function () {
                        connection.invoke("SiguientePregunta");
                    })
                    .catch(function (error) {
                        console.error(error.message);
                    });

                connection.on("siguiente-pregunta", function (pregunta) {

                    $('#panelPregunta .card-header').html(pregunta.question);

                    var respuestas = pregunta.incorrect_answers.slice();
                    respuestas.push(pregunta.correct_answer);
                    respuestas.sort();

                    var respuestasHtml = $.map(respuestas, function (resp) {
                        return "<li class='list-group-item'>" + resp + "</li>";
                    });
                    $("#panelPregunta .list-group").append(respuestasHtml);

                });

                

                //$("#btnSiguientePregunta").on("click", function () {
                //    connection.invoke("SiguientePregunta");
                //});
            };

        });
               
    </script>

</body>
</html>
